body {font-family: Arial, Helvetica, sans-serif}

html,
body {height: 100%;}

.container {width: 1280px;
    min-width: 360px;
    margin: 0 auto;
    min-height: 100%;}
.beginning {width: 100%;
    min-height: 323px;
    background-color: #445162;}
.beginning-menu {max-width: 520px;
    min-width: 494px;
    max-height: 100%;
    min-height: 317px;
    margin-top: 50px;
    margin-left: 50px;}
.beginning-menu-name {min-width: 367px;
    padding-top: 50px;
    font-family: Arial;
    color: #ffffff;
    font-size: 44px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);}
.beginning-menu-list {margin-left: -8px;
    width: 600px;
    min-height: 127px;}
.beginning-menu-one {color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    list-style-type: none;
    list-style-image: url('../img/checkicon.png');}
.beginning-menu-picture {float: right;
    margin-top: -269px;
    margin-right: 50px;}
/* main*/
.basis {width: 100%;
    min-height: 2328px;
    margin-top: 50px;}
/*2 блок */
.basis-product {width: 100%;
    min-height: 345px;
    margin-top: -50px;}
h3 {color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;}
.basis-product-name {display: inline-block;
    margin-left: 50px;
    margin-bottom: 30px;
    width: 600px;
    height: 28px;}
p,.basis-dignity-block-last {color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;}
.basis-product-text {margin-left: 50px;
    width: 653px;
    height: 60px;}
.basis-product-block p+p {padding-top: 20px;}
.basis-product-visual {margin-left: 800px;
    margin-top: -230px;
    object-fit: inherit;}
/* 3 блок */
.basis-dignity {width: 100%;
    min-height: 417px;
    background-color: #f5f5f5;}
.basis-dignity:after {content: "";
    display: block;
    width: 100%;
    clear: both;}
.basis-dignity-name {padding-top: 50px;
    width: 100%;
    height: 28px;
    text-align: center;
    margin-bottom: 0px;}
.basis-dignity-left-block {float: left;
    margin-left: 91px;
    width: 526px;
    min-height: 260px;
    clear: both;}
.basis-dignity-right-block {float: right;
    margin-right: 50px;
    width: 526px;
    min-height: 260px;
    outline: none;}
.basis-dignity-block-last {display: block;
    outline: none;}
.basis-dignity-block-last::-webkit-details-marker {display: none;}
.basis-dignity-block-last:before {display: block;
    background-color: #445161;
    width: 32px;
    height: 32px;
    content: "+";
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    line-height: 32px;
    position: relative;
    top: 38px;
    left: -40px;}
/* 4  блок */
.basis-scrinshots {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 487px;}
.basis-scrinshots-name,
.basis-reviews-name {display: block;
    text-align: center;
    width: 100%;
    min-height: 22px;
    margin: 50px 0 30px 0;}
.basis-figure-name {color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin: 0;}
.basis-scrinshots-block {display: flex;
    flex-direction: row;
    width: 575px;
    min-height: 150px;
    clear: both;
    margin: 0 0 30px 50px;}
.basis-scrinshots-block:nth-child(4) {margin-bottom: 50px;}
.basis-scrinshots-block:nth-child(5) {margin-bottom: 50px;}
.basis-scrinshots-figure {margin: -5px 0 0 15px;}
.basis-figure-text {margin: 10px 0 0 0;}
/*  5 Блок*/
.basis-reviews {width: 100%;
    min-height: 424px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f5f5f5;}
.basis-reviews-block {width: 564px;
    display: flex;
    margin-left: 50px;}
.basis-reviews-block:nth-child(3) {margin-right: 50px;}

.basis-reviews-block:nth-child(4) {margin-bottom: 50px;}
.basis-reviews-block:nth-child(5) {margin-right: 50px;
    margin-bottom: 50px;}
.basis-reviews-picture {border-radius: 50%;
    float: left;
    margin: 0 16px 0 0}
.basis-reviews-list {display: block;
    width: 471px;
    min-height: 121px;
    background-color: #ebebeb;
    border-radius: 5px;
    margin: 0 0 15px 15px;}
.basis-reviews-list:before {content: "";
    border: 20px solid transparent;
    border-right: 20px solid #ebebeb;
    position: absolute;
    margin: 20px 0 0 -38px;}
.basis-reviews-text {display: block;
    margin: 20px 16px 15px 20px;
    color: #333333;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    text-align: justify;}
.basis-reviews-end {color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    display: block;
    margin: 20px 0 16px 27px;}
/* 6 блок */
.pryce {width: 100%;
    min-height: 656px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;}
.pryce-name {color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    width: 100%;}
.pryce-block { width: 300px;
    min-height: 306px;
    background-color: #425062;
    border-color: #425062;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 50px;}
.pryce-block:nth-child(2) {margin-left: 141px;}
.pryce-block:nth-child(4) {margin-right: 141px;}
.pryce-block-title {display: block;
    width: 300px;
    min-height: 51px;
    font-family: Arial;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    background-color: #425062;
    margin-top: 0;
    padding-top: 21px;
    box-sizing: border-box;
    margin-bottom: 29px;}
.pryce-block-price {color: #445162;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    min-height: 70px;
    width: 100%;
    background-color: #fff;
    padding-top: 20px;
    box-sizing: border-box;}
.pryce-block-list {color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    background-color: #425062;
    margin: 1px;}
.pryce-block-key {border-radius: 5px;
    background-color: #ffffff;
    width: 260px;
    height: 40px;
    color: #445161;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    margin: 20px;
    padding-left: 111px;
    padding-top: 14px;
    box-sizing: border-box;
    text-decoration: none;}
.pryce-block-key:hover {background-color: #989898;}
.pryce-block-key:active {background-color: #333333;
    color: #fff;}
button,
input,
textarea,
form {outline: none;}
/* 6 блок */
.contacts {width: 100%;
    min-height: 509px;
    background-color: #445162;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;}
.contacts-name {color: #fff;
    text-align: center;
    padding-top: 53px;
    box-sizing: border-box;
    margin-bottom: 31px;
    width: 100%;}
.contacts-list {display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 249px;}
.contacts-list-text,
.contacts-list-email,
.contacts-list-textarea {border-radius: 5px;
    background-color: #ffffff;
    width: 500px;
    min-height: 40px;
    padding: 0 0 0 5px;
    border: none;}
.contacts-list-email,
.contacts-list-textarea,
.contacts-list-button {
    margin-top: 21px;}
.contacts-list-text {text-transform: capitalize;}
.contacts-list-text::-webkit-input-placeholder {color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 0 0 0 5px;}
.contacts-list-text::-moz-placeholder {color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;}
.contacts-list-text:-moz-placeholder {color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;}
.contacts-list-text:-ms-input-placeholder {color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;}
.contacts-list-email::-webkit-input-placeholder {color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 0 0 0 5px;}
.contacts-list-email::-moz-placeholder {color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;}
.contacts-list-email:-moz-placeholder {color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;}
.contacts-list-email:-ms-input-placeholder {color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;}
.contacts-list-textarea::-webkit-input-placeholder {color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 0 0 0 5px;}
.contacts-list-textarea::-moz-placeholder {color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;}
    .contacts-list-textarea:-moz-placeholder {color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;}
    .contacts-list-textarea:-ms-input-placeholder {color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;}
.contacts-list-button {border-radius: 5px;
    background-color: #ffffff;
    width: 140px;
    height: 40px;
    border: none;
    margin-left: 33.5%;
    color: #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;}
.contacts-icon{width:280px;
display:inline-block;
margin-left: 50px;}
.contacts-icon-first{display: flex;
flex-direction:column;
align-items: flex-start;}
.icon-skype, .icon-isq, .icon-email, .icon-phone{text-decoration: none;
    color:  #ffffff;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   text-align: left;
margin-bottom: 18px;}
.icon-skype::before{content: url("../img/skype_icon.png");
margin-right: 2px;
width:25px;
height: 26px;}
.icon-isq::before{content: url("../img/icq_icon.png");
   margin-right: 2px;
   width:25px;
   height: 26px;}
.icon-email::before{content: url("../img/email_icon.png");
   margin-right: 2px;
   width:25px;
   height: 26px;}
.icon-phone::before{content: url("../img/phone_icon.png");
   margin-right: 2px;
   width:25px;
   height: 26px;}
.icon-twitter{content: url("../img/twitter_icon.png");}
.icon-in{content: url("../img/in_icon.png");}
.icon-googleplu{content: url("../img/googleplus_icon.png");}
.icon-tybe{content: url("../img/tube.png");}
.icon-twitter,.icon-in,.icon-googleplu,.icon-tybe{margin-right:8px;}
.contacts-end {width: 100%;
    font-family: Arial;
    color: #445162;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
    text-align: center;
    background-color: #f5f5f5;
    min-height: 20px;}