*{margin: 0;
padding: 0;}
body{font-family: Arial, Helvetica, sans-serif}
html,
body {
    height: 100%;
}
.container {
    max-width: 1280px;
    min-width: 400px;
    margin: 0 auto;
    min-height: 100%;
}
header{width: 1280px;
height: 323px;
background-color:#445162;
min-height: auto;}
.menu{
   width:494px;
   height:317px;
   margin-top: 50px;
   margin-left: 50px;
}
    .menu h1{
    width: 367px;
    height: 44px;
    padding-top:50px;
    font-family: Arial;
    color:  #ffffff;
    font-size:44px;
    font-weight:400;
    text-align:left;
    text-shadow:0px 1px 0px rgba(0, 0, 0, 0.3);}
    .menu ul{margin-top: 51px;
      margin-left: 30px;
    width:422px;
    height:127px;}
    .menu li{font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      line-height: 36px;
      text-align: left;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
      list-style-type: none;
      list-style-image: url('img/check icon.png')}
      header img{float:left;
      width: 469px;
      height: 214px;
      margin-top:-263px;
      margin-left:761px}
      main{height: 2328px;
      margin-top: 50px;}
      .product {width:1280px;
      height: 345px;
      margin-top: -50px;}
      h3{font-family: Arial;
         color: #445161;
         font-size: 30px;
         font-weight: 400;
         line-height: 36px;
         text-align: left;}
      .product h3{
         padding-top:49px;
         margin-left:50px;
         width: 254px;
         height: 28px;}
      .product p{margin-left:50px;
         font-family: Arial;
         color: #333333;
         font-size: 16px;
         font-weight: 400;
         line-height: 24px;
         text-align: left;
         width:653px;
         height:60px;}
   .product p{padding-top:30px;}
   .product p+p{padding-top:20px;}
   video {margin-left:800px;
   margin-top:-180px;}
   .dignity {
      height:417px;
      margin-top:50px;
      background-color: #f5f5f5}
   .dignity h3{
      margin-left:464px;
      padding-top:50px;
      width:354px;
      height:28px;
      }
.left_block{margin-top:29px;
   margin-left:91px;
   width:526px;
height:260px;}
.right_block{margin-left:681px;
   margin-top:-262px;
   width:526px;
   height:260px;}
   .left_block summary,.right_block summary{font-family: Arial;
      color:  #333333;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
   }